textarea {
  border-radius: 5px;
}

button {
  width: 120px;
  height: 60px;
  border-radius: 5px;
  /* position: absolute; */
}

span {
  font-size: 25px;
}

p {
  font-size: 15px;
}

img {
  width: 80px;
  height: 80px;
  padding-left: 90px;
}
